.container-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 5% 10%;
}
.skill-txt {
  opacity: 0.8;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-pri);
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
}

@media (max-width: 375px) {
  .container-skill {
    padding: 20% 0 0 0;
  }
}
