.container-skill {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 5% 10%;
}

.skill-icon {
  font-size: 2rem;
  margin: 15px;
  padding: 1rem 1rem;
  opacity: 0.93;
  border: 1.7px solid rgba(200, 137, 230, 0.637);
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  display: table;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
  overflow: hidden;
  transition: all 0.4s ease 0s;
  line-height: 0;
}

.skill-icon:hover {
  transform: scale(1.05);
  overflow: hidden;
  border: 2.2px solid rgba(197, 115, 230, 0.883);
}

.skill-txt {
  opacity: 0.8;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-pri);
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
}

@media (max-width: 375px) {
  .container-skill {
    padding: 20% 0 0 0;
  }
}

@media (max-width: 500px) {
  .skill-icon {
    font-size: 1rem;
  }
}
