.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

.carousel-title {
  opacity: 0.8;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-pri);
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  font-weight: 100;
  margin: 0 auto;
  color: white;
  font-size: 1rem;
}

.slide-container {
  height: 60%;
  border-radius: 20%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.slide-container > img {
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}

.slide-container:hover > img {
  transform: scale(2);
  opacity: 0.7;
}

.slide-desc {
  background-color: rgba(0, 6, 128, 0.8);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  padding-left: 30px;
  border-top-left-radius: 50px;
  opacity: 0.8;
}

.slide-desc > span {
  color: white;
  display: block;
  font-size: 22px;
  padding: 20px 0 20px 0px;
}

.BrainhudCarousel__arrows {
  background-color: white;
  margin: 20px;
}

.BrainhudCarousel__arrows > span {
  border-color: black;
}

.BrainhudCarousel__arrows:hover {
  background-color: white !important;
}

.BrainhudCarousel__arrows:hover > span {
  border-color: black !important;
}

@media only screen and (max-width: 1024px) {
  .carousel-container {
    padding: 0 13%;
  }
}

@media only screen and (max-width: 960px) {
  .carousel-container {
    flex-direction: column;
    padding: 0 15%;
  }

  .carousel-title {
    text-align: center;
    padding: 50px 0 5px 0;
  }

  .slide-container {
    width: 100%;
    height: 50%;
    border-radius: 20%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
}
@media only screen and (max-width: 960px) {
  .carousel-container {
    flex-direction: column;
    padding: 0 8%;
  }
}